.usage-chart-container {
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.usage-chart-system-title {
    font-size: 1.5em;
}

.usage-chart-header {

}

.skeleton-usage-chart {
    position: relative;
}

.skeleton-progress {
    position: absolute;
    top: 20%;
    left: calc(50% - 100px);
    width: 200px !important;
    height: 200px !important;
}

.usage-chart-not-found {
    text-align: center;
    font-size: 5em;

}