.system-details-card-title {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

.system-details-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 15px;
    gap: 15px
}

.system-details-card-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 30em;
    padding: 15px;
}

.system-details-main-card {
    width: 100%;
    font-size: 2em;
}

.system-details-primary-card-group {
    display: flex;
    flex-direction: column;
    gap: 20px
}

.system-details-slider {
    padding: 20px;
}